
<nav *ngIf="typeUser$ | async as type" class="navbar navbar-expand-lg navbar-dark bg-white px-5 py-4">
  <div class="col-lg-3 px-lg-5">
    <a class="navbar-brand" href="#">
      <img src="assets/images/logo.png" alt="Logo" width="220" height="80">
    </a>
  </div>
  <button class="navbar-toggler border-1 text-dark" type="button" data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <i class="fas fa-bars text-dark"></i>
  </button>
  <div class="collapse navbar-collapse col-lg-9 text-sm-start text-lg-end px-lg-5 mt-xs-5 mt-lg-0"
    id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto">
      <div class="links d-lg-flex gap-5 me-5">
        <li class="nav-item d-flex align-items-center">
          <a class="nav-link active text-dark" aria-current="page" [routerLink]="'/inicio'">Inicio</a>
        </li>
        <li *ngIf="typeUser === 'tourist'" class="nav-item d-flex align-items-center">
          <a class="nav-link active text-dark" aria-current="page" [routerLink]="'/buscar-guia'">Buscar guía</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="nav-link active text-dark" aria-current="page" href="#">Sobre nosotros</a>
        </li>
        <li *ngIf="typeUser === 'guide'" class="nav-item d-flex align-items-center">
          <a class="nav-link text-dark" href="#">Formación</a>
        </li>
        <li *ngIf="typeUser === 'guide'" class="nav-item d-flex align-items-center">
          <a class="nav-link text-dark" [routerLink]="'/pago-aumento-visibilidad'">Aumenta tu visibilidad</a>
        </li>
      </div>
      <div class="d-flex">
        <li *ngIf="typeUser === 'public'" class="nav-item d-flex align-items-center">
          <a class="btn btn-primary text-white me-2" [routerLink]="'/inicio-sesion-turista'">Iniciar sesión</a>
        </li>
        <li *ngIf="typeUser === 'public'" class="nav-item d-flex align-items-center">
          <a class="btn btn-secondary text-white" [routerLink]="'/registro-turista'">Registrarse</a>
        </li>
      </div>
      <li *ngIf="typeUser !== 'public'" class="nav-item dropdown ms-lg-5 ">
        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img
            [src]="profileImg"
            class="rounded-circle" width="50" height="50" alt="Foto de usuario">
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li>
            <a *ngIf="typeUser === 'guide'" class="dropdown-item dropdown-item-perfil" [routerLink]="'/configuracion-perfil-guia'">
              <i class="fas fa-user me-2"></i>Mi perfil</a>
            <a *ngIf="typeUser === 'tourist'" class="dropdown-item dropdown-item-perfil" [routerLink]="'/configuracion-perfil-turista'">
              <i class="fas fa-user me-2"></i>Mi perfil</a>
          </li>

          <li>
            <a *ngIf="typeUser === 'guide'" class="dropdown-item" [routerLink]="'/resumen-reservas'">
              <i class="fas fa-suitcase me-2"></i>Gestionar reservas</a>
            <a *ngIf="typeUser === 'tourist'" class="dropdown-item" [routerLink]="'/mis-viajes'">
              <i class="fas fa-suitcase me-2"></i>Mis viajes</a>
          </li>

          <li>
            <a class="dropdown-item dropdown-item-sesion" (click)="logout()">
              <i class="fas fa-cog me-2"></i>
              Cerrar sesión</a>
            </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>