<div class="table-container">
    <h1 class="text-center mb-5 ">Historial de transacciones</h1>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="reservation">
            <th mat-header-cell *matHeaderCellDef> ID de Reserva </th>
            <td mat-cell *matCellDef="let transaction"> {{ transaction.id }} </td>
        </ng-container>

        <ng-container matColumnDef="transactionDate">
            <th mat-header-cell *matHeaderCellDef> Fecha de Transacción </th>
            <td mat-cell *matCellDef="let transaction"> {{ transaction.transactionDate | date }} </td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Tipo </th>
            <td mat-cell *matCellDef="let transaction"> {{ transaction.type }} </td>
        </ng-container>

        <ng-container matColumnDef="paymentType">
            <th mat-header-cell *matHeaderCellDef> Tipo de Pago </th>
            <td mat-cell *matCellDef="let transaction"> {{ transaction.paymentType }} </td>
        </ng-container>

        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef> Cantidad </th>
            <td mat-cell *matCellDef="let transaction"> {{ transaction.amount }}€ </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let transaction; columns: displayedColumns;"></tr>
    </table>
</div>
