.form-column-1.d-flex.flex-column, .form-column-2.d-flex.flex-column {
    width: 30%;
}

div.d-flex.justify-content-center{
    gap:5%;
    margin: 80px 0 0 0;
}

hr{
    margin: 2% 10% 2% 10%;
}

.btn-registro{
    margin: 0 17.5% 5% 17.5%;

}

button.btn.mdc-button.mat-mdc-button.mat-primary.mat-mdc-button-base{
    background-color: #fe7f00;
    color: white;
}

a{
    font-family: 'Montserrat', sans-serif;
    color: #fe7f00;
}


