li>a {
    text-decoration: none;
    color: black;
}

li {
    margin-bottom: 15px;
}

h4 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5em;
}

.footer.bg-white.text-dark.py-4 {
    text-align: center;
}

@media (max-width: 767px) {
    footer.bg-white.text-dark.py-4 {
        text-align: center;
    }

    .col.text-center {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    footer.bg-white.text-dark.py-4 {
        text-align: center;
    }

    .col.text-center {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
    }
}