<footer class="bg-white text-dark py-4">
    <div class="container">
      <div class="row">
        <!-- Columna 1: Logo y redes sociales -->
        <div class="col-md-3 mb-3">
          <div class="d-flex align-items-center flex-column gap-1">
            <img src="assets/images/logo.png" alt="Logo" class="me-2" style="width: 150px; height: auto;">
            <div class="d-flex flex-wrap gap-3 justify-content-center py-5">
              <a href="#" class="me-2"><i class="fab fa-facebook fa-2x" style="color: #3b5998;"></i></a>
              <a href="#" class="me-2"><i class="fab fa-twitter fa-2x" style="color: #1da1f2;"></i></a>
              <a href="#" class="me-2"><i class="fab fa-instagram fa-2x" style="color: #c13584;"></i></a>
          </div>
          </div>
        </div>
        <!-- Columna 2: Navegación 1 -->
        <div class="col-md-3 mb-3">
          <h4>EMPEZANDO</h4>
          <ul class="list-unstyled">
            <li><a href="#">Empezando</a></li>
            <li><a href="#">Sobre nosotros</a></li>
            <li><a href="#">Por que ser guía</a></li>
          </ul>
        </div>
        <!-- Columna 3: Navegación 2 -->
        <div class="col-md-3 mb-3">
          <h4>RECURSOS</h4>
          <ul class="list-unstyled">
            <li><a href="#">Consejos</a></li>
            <li><a href="#">Soporte y contacto</a></li>
            <li><a href="#">Ciudades mas populares</a></li>
          </ul>
        </div>
        <!-- Columna 4: Navegación 3 -->
        <div class="col-md-3 mb-3">
          <h4>POLITICAS</h4>
          <ul class="list-unstyled">
            <li><a href="#">Terminos de servicios</a></li>
            <li><a href="#">Política de privacidad</a></li>
            <li><a href="#">Seguridad</a></li>
          </ul>
        </div>
      </div>
      <!-- Iconos de descarga de la app -->
      <div class="row">
        <div class="col text-center">
          <a href="#"><img src="assets/images/google-play.png" alt="Google Play" class="me-2" style="width: 170px; height: auto;"></a>
          <a href="#"><img src="assets/images/app-store.png" alt="App Store" style="width: 150px; height: auto;"></a>
        </div>
      </div>
      <!-- Copy -->
      <div class="row mt-4">
        <div class="col text-center">
          <p>&copy; 2022 LocalGuide | Powered by Ismael Alcalá</p>
        </div>
      </div>
    </div>
  </footer>
  
