<div class="container my-3">
  <h2 class="fs-2 mb-3 py-3 text-center" style="font-family: 'Bebas Neue', sans-serif;">Viajes activos</h2>
  <p class="text-center mb-5" style="font-family: 'Montserrat', sans-serif;">La cancelación de la reserva solo será
    posible dentro de las primeras 48 horas posteriores a su aceptación</p>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
    <h3 class="text-center" *ngIf="activeReservation.length === 0">No tienes reservas activas</h3>
    <ng-container *ngFor="let reservation of getPaginatedReservation()">
      <div class="col">
        <div class="card rounded-4">
          <div class="card-img-container">
            <img src="../../../../assets/images/image-configuracion.png" class="card-img-top img-fluid rounded"
              alt="Foto de la ciudad del guía">
          </div>
          <div class="card-body mx-3">
            <h4 class="card-title fw-bold mb-3">{{ reservation.nameGuide }} es tu guía en <br>
              <span>{{ reservation.cityGuide }}, {{ reservation.countryGuide }}</span>
            </h4>
            <p class="card-text mb-2"><i class="fas fa-envelope"></i> {{ reservation.emailGuide }}</p>
            <p class="card-text mb-2"><i class="fab fa-whatsapp"></i>
              <a class="link_whatsapp"
                href="https://wa.me/{{phonePrefixes[reservation.countryGuide] + reservation.phoneGuide}}"
                target="_blank">
                {{phonePrefixes[reservation.countryGuide]}} {{ reservation.phoneGuide }}</a>
            </p>
            <p class="card-text mb-2"><i class="far fa-calendar-alt"></i> Fecha de inicio: {{ reservation.startDate |
              date}}</p>
            <p class="card-text mb-2"><i class="far fa-calendar-alt"></i> Fecha de fin: {{ reservation.endDate | date}}
            </p>
            <p class="card-text mb-2"><i class="far fa-clock"></i> {{ reservation.reservedHours }} horas reservadas</p>
            <p class="card-text mb-3 precio"> {{ reservation.price }} €</p>
            <p *ngIf="!hasMoreThan24HoursPassed(reservation.reservationDate)" class="btn btn_cancelar"
              (click)="deletedReservation(reservation.id)">CANCELAR</p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div *ngIf="activeReservation.length !== 0" class="d-flex justify-content-center mt-5">
    <mat-paginator [length]="activeReservation.length" [pageSize]="itemsPerPage" [pageIndex]="currentPage - 1"
      (page)="onPageChange($event.pageIndex + 1)">
    </mat-paginator>
  </div>
</div>