<div class="hero h-100 d-flex my-5 ms-5 ps-5">
    <div class="hero__content col-lg-5">
        <h1 class="hero__title">ENCUENTRA<br> TU <span>GUÍA</span> IDEAL</h1>
        <p class="hero__text w-75">Pack your luggage and pick your destination, we will provide you the flight ticket,
        <form class="form" (ngSubmit)="searchGuides()">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="¿Dónde vas a viajar?" name="country" [(ngModel)]="country">
            </mat-form-field>
            <a mat-flat-button (click)="searchGuides()">Buscar guía</a>
        </form>
    </div>
    <div class="hero__image col-lg-7">
        <img class="w-75" src="assets/images/hero.png" alt="Hero image" />
        <div class="borde-difuminado"></div>
    </div>
</div>
