<div class="container mt-3 mx-5 px-5">
    <div class="card">
        <div class="card-header d-flex justify-content-center align-content-center">
            <h2 class="card-title m-0" style="font-family: 'Bebas Neue', sans-serif;">Estadísticas de Reservas</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">Número de Tours Realizados</h6>
                            <h4 class="card-title">100</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">Horas de Tour</h6>
                            <h4 class="card-title">500</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">Días Totales</h6>
                            <h4 class="card-title">50</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">Número de Reseñas</h6>
                            <h4 class="card-title">80</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">Ganancias</h6>
                            <h4 class="card-title">900€</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">Puntuación</h6>
                            <h4 class="card-title">4.5</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>