<div class="form_filter_container w-100">
    <form [formGroup]="filterForm" class="col" (ngSubmit)="filterGuides()">
        <div class="form_title">
            <h2>Descubre tu Guía Ideal y Emprende tu Próxima Aventura</h2>
        </div>
        <div class="row mb-3">
            <div class="col">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="guideName" formControlName="guideName" placeholder="Nombre del guía" pattern="[^0-9]*">
                    <label class="text-secondary d-flex align-items-center" for="guideName">Nombre del guía</label>
                </div>
                <!-- Mostrar mensaje de error si se ingresan números -->
                <div *ngIf="filterForm.get('guideName')?.errors?.['pattern']" class="text-danger">No se permiten números.</div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <select formControlName="country" id="country" class="form-select" aria-label="Country">
                        <option selected>Selecciona un país</option>
                        <option *ngFor="let country of countries" [value]="country">{{country}}</option>
                    </select>
                    <label for="country">País</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <select formControlName="city" id="city" class="form-select" aria-label="City">
                        <option selected>Selecciona una ciudad</option>
                        <option *ngFor="let city of cities[selectedCountry]" [value]="city">{{city}}</option>
                    </select>
                    <label for="city">Ciudad</label>
                </div>
                
            </div>
            <div class="col">
                <div class="form-floating">
                    <input type="number" class="form-control" formControlName="priceMin" id="priceMin" value="0" min="0" max="50">
                    <label for="priceMin">Precio Mínimo</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input type="number" class="form-control" formControlName="priceMax" id="priceMax" value="10" min="0" max="50">
                    <label for="priceMax">Precio Máximo</label>
                </div>
            </div>
        </div>

        <!-- Divider -->
        <div class="col-12">
            <hr class="my-3">
        </div>

        <!-- Row 3 -->
        <div class="row mb-3">
            <div class="col">
                <p class="mb-0 fw-semibold text-secondary">Actividades:</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3" *ngFor="let hobbie of hobbies">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="{{ hobbie }}" (change)="onHobbyChange(hobbie)">
                    <label class="form-check-label" for="{{ hobbie }}">{{ hobbie }}</label>
                </div>
            </div>
        </div>

        <!-- Divider -->
        <div class="col-12">
            <hr class="my-3">
        </div>

        <!-- Row 4 -->
        <div class="row mb-3">
            <div class="col">
                <p class="mb-3 fw-semibold text-secondary">Género:</p>
                <!-- Radio Buttons Gender -->
                <div class="d-flex gap-5">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" formControlName="gender" id="masculino" value="MASCULINO">
                        <label class="form-check-label" for="masculino">Hombre</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" formControlName="gender" id="femenino" value="FEMENINO">
                        <label class="form-check-label" for="femenino">Mujer</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" formControlName="gender" id="otros" value="OTRO">
                        <label class="form-check-label" for="otros">Otro</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" formControlName="gender" id="todos" value="">
                        <label class="form-check-label" for="todos">Todos</label>
                    </div>
                </div>
            </div>
        </div>

        <!-- Divider -->
        <div class="col-12">
            <hr class="my-3">
        </div>

        <!-- Row 5 -->
        <div class="row mb-3">
            <div class="col">
                <p class="mb-0 fw-semibold text-secondary">Idiomas:</p>
            </div>
        </div>
        <div class="row">
            <div class="col-2" *ngFor="let language of languages">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="{{ language }}" (change)="onLanguageChange(language)">
                    <label class="form-check-label" for="{{ language }}">{{ language }}</label>
                </div>
            </div>
        </div>

        <div class="d-flex align-items-center gap-3 mt-5">
            <button type="submit" class="btn btn-primary">Filtrar guías</button>     
            <p class="reset" (click)="resetFilter()">Reiniciar filtros</p>      
        </div>
    </form>
  </div>
  