<div class="container-kpi">
    <h1 class="kpi-title">KPIs Dashboard</h1>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="kpi-card">
          <h5 class="card-title">Facturación Anual</h5>
          <p class="card-text">{{totalBillingYears}}€</p>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="kpi-card">
          <h5 class="card-title">Facturación Mensual</h5>
          <p class="card-text">{{totalBillingMonths}}€</p>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="kpi-card">
          <h5 class="card-title">Reservas Totales</h5>
          <p class="card-text">{{totalReservations}}</p>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="kpi-card">
          <h5 class="card-title">Reservas Mensuales</h5>
          <p class="card-text">{{totalReservationsMonths}}</p>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="kpi-card">
          <h5 class="card-title">Usuarios Registrados</h5>
          <p class="card-text">{{totalUsers}}</p>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="kpi-card">
          <h5 class="card-title">País Más Visitado</h5>
          <p class="card-text">{{mostVisitedCountry}}</p>
        </div>
      </div>
    </div>
  </div>