<app-filtrar-guias></app-filtrar-guias>
<div class="p-3" style="background-color: #F5F5F5;">
    <h2 class="fs-2 mt-md-5 py-3 text-center" style="font-family: 'Bebas Neue', sans-serif;">GUÍAS MEJOR VALORADOS</h2>
    <app-tarjetas-guias-filtrados
        class="d-flex flex-wrap gap-5 justify-content-center py-md-5"></app-tarjetas-guias-filtrados>
</div>
<app-pasos></app-pasos>
<div class="p-3" style="background-color: #F5F5F5;">
    <h2 class="fs-2 mt-md-5 py-3 text-center" style="font-family: 'Bebas Neue', sans-serif;">RESERVAS RECIENTES</h2>
    <app-reservas-recientes class="d-flex flex-wrap gap-5 justify-content-center py-md-5"></app-reservas-recientes>
</div>