<h2 class="step_line fs-2 mt-5 py-3 text-center">AQUÍ COMIENZA TU AVENTURA</h2>
<div class="container_step_line">
    <mat-stepper>
        <mat-step label="Elige tu destino">
            <ng-template matStepLabel>Elige tu destino</ng-template>
            <p>Explora una amplia gama de destinos emocionantes en todo el mundo. Desde las bulliciosas calles de la ciudad hasta los paisajes naturales más impresionantes, ¡encuentra el lugar perfecto para guiar tu próxima aventura!</p>
        </mat-step>
        <mat-step label="Selecciona tu guía">
            <ng-template matStepLabel>Selecciona tu guía</ng-template>
            <p>Explora perfiles detallados de guías locales y elige el que mejor se adapte a tus intereses y necesidades. Conoce su experiencia, áreas de especialización y lee reseñas de otros viajeros para tomar la mejor decisión.</p>
        </mat-step>
        <mat-step label="¡Disfruta tu aventura!">
            <ng-template matStepLabel>¡Disfruta tu aventura!</ng-template>
            <p>Una vez que hayas seleccionado a tu guía perfecto, ¡prepárate para una experiencia inolvidable! Conoce los lugares más interesantes, descubre historias fascinantes y sumérgete en la cultura local. </p>
        </mat-step>
    </mat-stepper>
</div>

