<app-hero></app-hero>

<!-- Sección: Descubre tu ciudad de destino con Guías Locales -->
<div class="section_discovery mx-5 px-5">
    <h2 style="font-family: 'Bebas Neue', sans-serif;">Descubre tu ciudad de destino con Guías Locales</h2>
    <p style="font-family: 'Montserrat', sans-serif;">¡Bienvenido! Encuentra guías locales apasionados que te llevarán a
        descubrir su ciudad.
        Explora rutas personalizadas y experiencias auténticas para una aventura única.
        ¡Descubre tu ciudad como nunca antes!</p>
</div>

<!-- Sección: Guías Mejor Valorados -->
<div class="my-5 p-3" style="background-color: #F5F5F5;">
    <h2 class="fs-2 mt-5 py-3 text-center" style="font-family: 'Bebas Neue', sans-serif;">GUÍAS MEJOR VALORADOS</h2>
    <app-tarjetas-guias class="d-flex flex-wrap gap-5 justify-content-center py-5"></app-tarjetas-guias>
</div>

<app-pasos></app-pasos>

<!-- Sección: Reservas Recientes -->
<div class="my-5 p-3" style="background-color: #F5F5F5;">
    <h2 class="fs-2 mt-5 py-3 text-center" style="font-family: 'Bebas Neue', sans-serif;">RESERVAS RECIENTES</h2>
    <app-reservas-recientes class="d-flex flex-wrap gap-5 justify-content-center py-5"></app-reservas-recientes>
</div>
