h2.text-center {
    color: rgb(0, 0, 0);
}

.container_info_profile {
    position: relative;
}

.imagen-de-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: brightness(0.2);
    z-index: -1;
}

img {
    border: 5px solid white;
}

.col-md-4:nth-child(3) {
    display: flex;
    flex-direction: column;
}

h3{
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 1em;
}

.gender-icon {
    vertical-align: middle;
    font-size: 2rem;
    width: fit-content;
    height: auto;
}

.title-icon{
    width: fit-content;
    height: auto;
    vertical-align: middle;
    font-size: 1.2em;
    font-weight: lighter;
    color: orange
}

::ng-deep .mdc-text-field--filled {
    background-color: rgb(255, 255, 255) !important;
}

::ng-deep .mdc-text-field--filled .mdc-line-ripple {
    display: none;
}

::ng-deep .mat-mdc-form-field-focus-overlay {
    background-color: orange !important;
}

::ng-deep .button-reserve {
    background-color: #fe7f00 !important;
    color: white !important;
}

::ng-deep mat-label{
    color:#454545 !important;
}

.profile-img{
    width: 250px !important;
    height: 250px !important;
    border: 5px solid rgb(255, 229, 197);
    padding: 5px;
}

.example-header-image {
    width: 40px;
    height: 40px; 
    background-size: cover; 
    border-radius: 50%; 
  }
  
  .mat-card {
    margin-bottom: 20px; 
  }
  .star-rating{
    color: #fe7f00;
    margin-top: 10px;
}

mat-card.mat-mdc-card.mdc-card.mb-3{
    width: 75%;
}

.reviews_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-card-title.mat-mdc-card-title {
    font-size: small;
}

mat-card-subtitle.mat-mdc-card-subtitle {
    font-size: x-small;
}

::ng-deep .mat-mdc-paginator-page-size {
    display: none !important;
}

.location{
    color: #fe7f00;
    font-size: x-small;
}