.table-container {
    padding: 50px 50px 50px 110px;
}

::ng-deep .mat-mdc-cell,.mat-mdc-header-cell {
    text-align: center !important; 
    width: fit-content !important;
}

::ng-deep tr.mat-mdc-row.mdc-data-table__row.cdk-row{
    height: 80px;
}